.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: black;
  border-radius: var(--radius);
  font-weight: bold;
  text-align: center;
  transition: var(--transition);

  &:hover {
    background-color: var(--color-secondary);
  }
}
.card {
  background-color: var(--color-secondary);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05);
  transition: var(--transition);

  &:hover {
    transform: translateY(-0.5rem);
  }
}