:root {
  font-size: 62.5%;
  --font-main: 'Inter', sans-serif;

  --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-primary: #0055ff;
  --color-secondary: #f0f0f0;
  --radius: 0.8rem;
  --transition: all 0.2s ease-in-out;
}